* {
  font-family: 'Roboto', sans-serif;
}

legend {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color:  #3D4166;
}

::placeholder {
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  color: rgb(192, 190, 190);
  padding-left: 5px;
  }

input {
  width: 220px;
  border-radius: 5px;
  border: .5px rgb(209, 207, 207) solid;
  margin-right: 8px;
  margin-bottom: 5px;
  font-size: 16px;
  color: rgb(49, 49, 49);
  }

.greeting {
  font-size: 3em;
  border-top: 1px solid rgb(224, 228, 230);
  border-bottom: 1px solid rgb(224, 228, 230);
  box-shadow: 10px;
}

.individuals-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-rows: 125px 10px;
  grid-template-columns: 15% 65% 20%;
}

nav {
  grid-column: 1 / 2;
  grid-row: 1 ;
}

.profile-header {
  grid-column: 3;
  grid-row:  1 ;
  padding-right: 25px;
  /* display: flex; */
}

.side-nav {
  grid-column: 1;
  grid-row: 1;
  margin-top: 15px;
  width: 200px;
}

.personal-page, .assets-page, .job-page, .documents-page, .drop-area {
  grid-column: 2 /3;
  grid-row: 1 / 5;
  margin-top: 10px;
  width: 100%;
}

.employee-snippet {
  grid-column: 1;
  grid-row: 3;
  margin-top: 120px;
  display: grid;
  align-items: center;
  justify-content: center;
  width: 200px;
  /* text-align: center; */
  padding-right: 50px;
}

.personal-form-button {
  grid-column: 2;
  grid-row: 2;
  width: 10%;
}

.greeting {
  text-align: center;
  padding: 30px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.individuals-subcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.images {
  width: 150px;
  /* height: auto; */
  border-radius: 150px;
  padding-top: 25px;
}

.prop-name {
 font-size: 16px;
}

.prop-title {
  font-size: 14px;
}

hr {
  margin-top: 5px;
}

input[type=text] {
  color: rgb(70, 69, 69);
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}
