.greeting {
  font-size: 3em;
  border-top: 1px solid rgb(224, 228, 230);
  border-bottom: 1px solid rgb(224, 228, 230);
  box-shadow: 10px;
}

.individuals-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-rows: 125px 10px;
  grid-template-columns: 15% 85%;
}

.nav {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.profile-header {
  grid-column: 2 / 3;
  grid-row:  1;
  display: flex;
  /* margin-top: 25px; */
  margin-bottom: 25px;
}

.side-nav {
  grid-column: 1 / 2;
  grid-row: 1 / 5;
}

.personal-page, .assets-page, .job-page, .documents-page, .drop-area {
  grid-column: 2 /3;
  grid-row: 2 / 5;
  margin-top: 50px;
}

.employee-snippet {
  grid-column: 1;
  grid-row: 3;
  margin-top: 150px;
  margin-left: 15px;
}

.personal-form-button {
  grid-column: 2;
  grid-row: 2;
  width: 10%;
}

.greeting {
  text-align: center;
  padding: 30px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.individuals-subcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.images {
  width: 150px;
  /* height: auto; */
  border-radius: 150px;
  padding-top: 25px;
}

.prop-name {
 font-size: 16px;
}

.prop-title {
  font-size: 14px;
}

hr {
  margin-top: 5px;
}