.container3 {
    width: 75%;
    height: 90%;
    position: relative;
    top: 100px;
    left: 156px;
    justify-content: center;
}


.toby2 {
    position: fixed;
    width: 54%;
    height: 90%;
    left: 585px;
    top: 35px;
    z-index: 1;
}

.link-to-login {
    position: fixed;
    margin-left: 80px;
    top: 462px;
    left: 220px;
    width: 240px;;
    z-index: 2; 
} 


.link-to-login:hover {
    color: #7ab6f6;
}

.logo1 {
    position: fixed;
    height: 5%;
    left: 360px;
    top: 120px;
    width: 140px;
}

.signupTitle {
    font-size: 17px;
    top: 148px;
    left: 166px;
    position: relative;
    z-index: 2;
}

.input-container {
    border-radius: 0.7px gray;
    width: 250px;
    /* background-color: green; */
}
.vector {
    z-index: 0;
    position: fixed;
    height: 600px;
    width: 70%;
    top: 10%;
    left: 434px;

    
}
#username {
    border: 0.6px solid lightgray;
    width: 250px;
    height: 30px;
}

#password {
    border: 0.6px solid lightgray;
    width: 250px;
    height: 30px;
}


    @media (max-width: 800px) and (min-width: 600px) {
        .toby2, .vector {
            display: none;
        }

    /* .input-container {
        width: 16%;
  
    } */
}