.toby2 {
        position: fixed;
        width: 800px;
        height: 640px;
        left: 560px;
        top: 60px;
        z-index: 0;

}

/* .toby3 {
    position: fixed;
    top: 5px;
    z-index: 0;
    left: 900px;
    height: 700px;
    width: 900px;

} */

form {
    z-index: 1;
}