.dropzone-content {
    border: .5px dashed lightgrey;
    width: 250px;
    height: 250px;
    font-size: 18px;
    font-size: 18px;
    margin-top: 40px;
    /* margin-left: 60px; */
}

.dropzone-content p {

}

.text-center {
    text-align: left!important;
}

