.profile-header {
    border-bottom: .4px solid rgb(71, 165, 157);
}

.name-and-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: rgb(50, 51, 50);
    padding-top: 20px;
    justify-content: center;
}

.profile-name {
    font-size: 22px;
}

.profile-title {
    font-size: 14px;
}

.profile-pic {
    align-self: center;
    width: 13%;
    margin-left: 20px;
    margin-top: 10px;
}




