 .formLogin {
    position: relative;
    top: 40px;
    z-index: 2;
    left: 220px;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    height: 330px;
    width: 350px;
    left: 75px;
    font-family: 'Poppins', sans-serif;

} 

.userInput {
    position: absolute;
    margin-top: 120px;
    margin-left: 50px;
    border-radius: 20px;

}

.input-label {
    position: relative;
    text-align: center;
    padding: 5px;
    margin-top: 20px;
}

::placeholder {
    color: gray;
}


.btn1 {

    position: relative;
    margin-top: 230px;
    margin-left: 14%;
    background-color: #7ab6f6;
    width: 72%;
    border-radius: 6px;
    height: 35px;
    color: white;
   
}

#username {
    margin-top: 10px;
    border-radius: 0.7px gray;
}
#password {
    margin-top: 10px;
    border-radius: 0.7px gray;
}


@media (max-width: 800px) and (min-width: 600px) {
    .formLogin {
        justify-content: center;
        align-items: center;
    }
    }