.profile-header {
    border-bottom: .2px solid rgb(235, 236, 236);
}

.name-and-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: rgb(50, 51, 50);
    justify-content: center;
    align-content: center;
    width: 75%;
}

.profile-name {
    font-size: 22px;
}

.profile-title {
    font-size: 14px;
}

.profile-pic {
    align-self: center;
    width: 100px;
    margin-left: 20px;
}




